.books-container {
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.book-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.book-details {
  text-align: center;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.book-author {
  font-size: 14px;
  color: #888;
}
