.book-details {
  display: flex;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 130px;
}

.left-column {
  flex: 0 0 auto;
}

.book-image {
  height: 200px;
  width: 150px;
  margin-left: 10px;
  margin-right: 50px;
}

.right-column {
  flex: 1 1 auto;
  padding-left: 1rem;
  border-left: 1px solid gray;
}

.book-info {
  margin-left: 1rem;
}

.book-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.book-categories {
  font-size: 1.2rem;
  font-weight: medium;
  margin-bottom: 0.5rem;
}

.book-description {
  font-size: 0.9rem;
  color: gray;
  margin-left: 30px;
  margin-right: 30px;
}

.favorite-button {
  background-color: #e2e8f0;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.favorite-button-active {
  background-color: #4299e1;
  color: white;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .book-details {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .left-column {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .book-image {
    height: 300px;
    width: 250px;
    margin-left: 10px;
  }

  .right-column {
    border-left: none;
    padding-left: 0;
  }

  .book-info {
    margin-left: 0;
    text-align: center;
  }

  .book-description {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}
