footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.25em;
  background-color: rgba(165, 208, 201, 0.946);
  color: rgb(6, 17, 28);
  display: grid;
  place-content: center;
}
