@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./components/Dropdown.css";
@import "./pages/signUpPage.css";
@import "./pages/ResetPassword.css";
@import "./pages/BookPage.css";
@import "./components/form.css";
@import "./pages/ProfilePage.css";
@import "./pages/EditProfileForm.css";
@import "./pages/DisplayProfileInfo.css";

body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
