body {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1300px) {
  body {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media (max-width: 1000px) {
  body {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 700px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
}
